 body {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0) ), url('canyon_bw.jpeg');
        background-attachment: fixed;
  		background-size: cover;
  		font-family: 'Heebo', sans-serif;
}

.navbar-custom {
    background-color: black;
    padding-top: 2vh;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
    font-size: 25px;
}

#buttonDiv {
  text-align: center;
  padding-top: 30px;
}

.resumeDownload {
  background-color: black;
  height: 20vh;
}

#resumeDownloadText {
  font-size: 1.7vw;
  color: white;
  margin-top: 5vh;
}

#resumeDownloadButton {
  text-align: center;
  float: right;
  border: 2px solid white;
}

#landingPage {
  padding-top: 5vw;
  height: 10vh;
}

a {
  text-decoration: none;
}

.resumeHeaders {
  float: left;
  margin-left: 25.7vw;
  width: 15vw;
}

.leftText {
  background-color: white;
  font-family: 'Heebo', sans-serif;
  text-align: left;
  font-size: 3vh;
  padding-right: .5vw;
}

.rightText {
  background-color: white;
  font-size: 2vh;
  width: 43vw;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  max-width: 60vw;
  visibility: hidden;
  margin-bottom: 5vh;
}

th {
  border-right: 1px solid black;
  padding-top: 1vh;
  padding-left: 2vw;
}

td {
  padding: 1vh 2vw 5vh 2vw;
}

#nameHead {
  font-size: 4vh;
  margin-top: 5vh;
  border-right: 3px solid black;
  vertical-align: middle;
}

#spaceHead {
  border-right: 3px solid white;
}

#resumeHeader h3 {
  font-size: 4vh;
}

#resumeHC h3 {
  font-size: 4vh;
  font-family: 'Heebo', sans-serif;
  font-size: 2.5vh;
  display: inline-block;
}

.button {
  display: inline-block;
  background-color: black;
  font-family: 'Heebo', sans-serif;
  color: white;
  border: 2px solid white;
  outline: none !important;
  border-radius: 0px;
  font-size: 1.5vw;
  min-width:15vw;
  margin-right: 1vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

#submitButton {
  margin-left: 15px;
  margin-top: 15px;
}

.button:hover {
  background-color:#DE6000;
  color: white;
  text-decoration: none;
}

::selection {
  background: #E87C00;
}

#title {
  margin-top: -2vh;
  margin-bottom: 5vh;
  position: relative;

}

#landingPage h1 {
  color: white;
  font-family: 'Heebo', sans-serif;
  /* height: 100px; */
  text-align: center;
  font-size: 7vw;
  float: none;
  font-weight: bold;
}

#content h1 {
  text-align: center;
  margin-top: 5%;
}

.innerBox h1 {
  padding-top: 6%;
  color: white;
}

#landingPage h2 {
  font-size: 2.5vw;
  height: 4vh;
  color: white;
  text-align: center;
  font-weight: bold;
}

#content h2 {
  text-align: center;
}

h4 {
  font-weight: bold;
  font-size:  1.5vw;
}

ul {
  margin-top: 0vh;
  margin-bottom: 0vh;
}

.about {
  background-color: black;
  color: white;
  vertical-align: middle;
  padding: 1vh 3vw 4vh 3vw;
  margin-left: 25vw;
  margin-right: 25vw;
  visibility: hidden;
  position: absolute;
  font-size: 1vw;
}

.about.visible {
  visibility: visible;
}

#aboutText {
  margin-top: 1.5vw;
}

#aboutImage {
  margin-top: 1vw;
}

.projects {
  background-color: black;
  color: white;
  text-align: left;
  margin-left: 25vw;
  margin-right: 25vw;
  padding: 1vh 3vw 4vh 3vw;
  visibility: hidden;
  position: absolute;
  font-size: 1vw;
}

.projects.visible {
  visibility: visible;
}

.fullResume {
  width: 60vw;
  visibility: hidden;
  margin-bottom: 5vh;
}

.fullResume.visible {
  visibility: visible;
}

.resume {
  background-color: black;
  visibility: hidden;
  position: absolute;
  display:flex;
  margin: auto;
  width: 50vw;
  height: 135vh;
  margin-left: 25vw;
}

.resume.visible {
  visibility: visible;
}

 .hobbies {

  color: white;
  text-align: left;
  margin-left: 10.5vw;
  margin-right: 10.5vw;
  margin-bottom: 20vw;
  visibility: hidden;
  position: absolute;
}

.hobbies.visible {
  visibility: visible;
}

.hobbies img {
  width: auto;
  height: auto;
  max-width: 33vw;
  max-height: 20vw;
}

.thumbnail:hover img {
  transform: scale(.98);
  z-index: 1;
  position: relative;
  border: .1vw solid white;
}

.thumbnail img {
  transition: all .2s ease-in-out;
}

.email {
    background-color: black;
    color:white;
    font-size: 1.2vw;
    margin-left: 22.5vw;
    width: 55%;
    padding: 20px;
    visibility: hidden;
    position: absolute;
}

.form-control {
  border-radius: 0px;
}

.email.visible {
  visibility: visible;
}

figure {
  text-align: center;
}

img {
  width: 15vw;
}

.vitals {
  float: right;
  text-align: center;
  margin-left: 1vw;
}

.edu {
  float: right;
  text-align: center;
  margin-left: 1vw;
}
