body {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0) ), url('canyon_bw.jpeg');
        background-attachment: fixed;
  		background-size: cover;
  		font-family: 'Heebo', sans-serif;
}

#buttonDiv {
  text-align: center;
  padding-top: 30px;
}

.resumeDownload {
  background-color: black;
  padding: 1vw 3vw 1vw 3vw;
  width: 41vw;
  height: 10vh;
  margin-left: 25.7vw;
}

#resumeDownloadText {
  font-size: 3vh;
  float: left;
  color: white;
}

#resumeDownloadButton {
  text-align: center;
  float: right;
  border: 2px solid white;
}

a {
  text-decoration: none;
}

.resumeHeaders {
  float: left;
  margin-left: 25.7vw;
  width: 7vw;
  height: 164.3vh;
  padding: 2vw;
}

.rightText {
  background-color: white;
  width: 30.73vw;
  height: 165vh;
  margin-left: 32vw;
  padding: 6vh 5vw 2vh 5vw;
  font-size: 2vh;
}

#nameHead {
  background-color: white;
  font-family: 'Heebo', sans-serif;
  font-size: 3.5vh;
}

#eduHead {
  background-color: white;
  font-family: 'Heebo', sans-serif;
  font-size: 3vh;
  margin-top: -1vh;
}

#workHead {
  background-color: white;
  font-family: 'Heebo', sans-serif;
  font-size: 3vh;
  margin-top: 12vh;
}

#skillsHead {
  background-color: white;
  font-family: 'Heebo', sans-serif;
  font-size: 3vh;
  margin-top: 61vh;
}

#projectsHead {
  background-color: white;
  font-family: 'Heebo', sans-serif;
  font-size: 3vh;
  margin-top: 12vh;
}

#eduText {
  margin-top: 5vh;
}

#workText {
  margin-top: 5vh;
}

#skillsText {
  margin-top: 5vh;
}

#projectsText {
  margin-top: 5vh;
}

#resumeHeader h3 {
  font-size: 4vh;

}

#resumeHC h3 {
  font-size: 4vh;
  font-family: 'Heebo', sans-serif;
  font-size: 2.5vh;
  display: inline-block;
}

.button {
  display: inline-block;
  background-color: black;
  font-family: 'Heebo', sans-serif;
  color: white;
  border: 0px;
  outline: none;
  border-radius: 0px;
  font-size: 25px;
  min-width:200px;
  margin-right: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 15px;
}

.button:hover {
  background-color:#DE6000;
}

::selection {
  background: orange;
}



#title {
  margin-top: 50px;
  position: relative;
}

#landingPage h1 {
  color: white;
  font-family: 'Heebo', sans-serif;
  height: 100px;
  text-align: center;
  font-size: 100px;
  float: none;
}

#content h1 {
  text-align: center;
  margin-top: 5%;
}

.innerBox h1 {
  padding-top: 6%;
  color: white;
}

#landingPage h2 {
  font-size: 25px;
  height: 4vh;
  color: white;
  text-align: center;
}

#content h2 {
  text-align: center;
}

ul {
margin: 0;
  padding: 0;
  text-align:left;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#00000085;
  position:fixed;
  top:0;
  width:100%
}

li {
    display: inline;

}
li a{
  text-decoration: none;
  color:white;
  padding:20px;

}

.about {
  background-color: black;
  color: white;
  text-align: left;
  border: 0px;
  padding: 1vh 3vw 4vh 3vw;
  margin-top:3vw;
  margin-left: 27vw;
  margin-right: 27vw;
  visibility: hidden;
  position: absolute;
}

.about.visible {
  visibility: visible;
}

.projects {
  background-color: black;
  color: white;
  text-align: left;
  border: 0px;
  margin-top:3vw;
  margin-left: 27vw;
  margin-right: 27vw;
  padding: 1vh 3vw 4vh 3vw;
  visibility: hidden;
  position: absolute;
}

.projects.visible {
  visibility: visible;
}

.fullResume {
  visibility: hidden;
  position: absolute;
}

.fullResume.visible {
  visibility: visible;
}

.resume {
  background-color: black;
  visibility: hidden;
  position: absolute;
  display:flex;
  margin: auto;
  width: 50vw;
  height: 135vh;
  margin-left: 25vw;
}

.resume.visible {
  visibility: visible;
}

.hobbies {
  background-color: black;
  color: white;
  text-align: left;
  border: 2px solid white;
  padding-top:1vh;
  margin-left: 35vw;
  margin-right: 20vw;
  padding-left: 3vw;
  padding-bottom:4vh;
  padding-right: 3vw;
  visibility: hidden;
  position: absolute;
}

.hobbies.visible {
  visibility: visible;
}

.email {
    background-color: black;
    color:white;
    font-size: 20px;
    text-align: center;
    margin: auto;
    border: 2px solid white;
    width: 55%;
    padding: 20px;
    visibility: hidden;
}

.email.visible {
  visibility: visible;
}



input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */
    text-align: left;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: 2px solid white;
    font-size: 20px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #DE6000;
}

/* Add a background color and some padding around the form */
